@use "breakpoints";

.presentation-wrapper {
  padding: 0.5rem;

  @include breakpoints.breakpoint-up(md) {
    padding: 2rem;
  }

  .example-title {
    padding-bottom: 1rem;
    color: var(--white);
    border-bottom: 1px solid var(--white);
  }

  .title {
    color: var(--white);
  }

  .columns-options {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.75rem;

    .column-option {
      margin-left: 20px;
      margin-top: 10px;
    }
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    padding: 0.75rem 1rem;
    color: var(--white);
    background-color: var(--dark-blue);
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 4px var(--dark-blue);
  }

  input:checked + label {
    background-color: var(--dark-pink);
    box-shadow: 2px 2px 10px var(--dark-pink);
  }
}
