<div class="datagrid-wrapper">
  <ng-template>
    <ng-content> </ng-content>
  </ng-template>

  <div class="overflow-auto">
    <table class="datagrid-table">
      <thead>
        <tr>
          <th
            *ngFor="
              let column of columnConfigs$ | async;
              trackBy: headerTracker
            "
            scope="col"
            data-testid="head-cell"
          >
            <button
              data-testid="sort-button"
              class="sort-button"
              [disabled]="isSortable === false || column.sortable === false"
              (click)="sortByColumn(column)"
            >
              <span class="sort-button-text">{{ column.name }}</span>
              <ng-container *ngIf="sortState$ | async as sortState">
                <ng-container *ngIf="sortState.sortByColumn === column.name">
                  <span
                    class="sort-button-arrow"
                    *ngIf="sortState.direction === Direction.ASCENDENT"
                    >&uarr;</span
                  >
                  <span
                    class="sort-button-arrow"
                    *ngIf="sortState.direction === Direction.DESCENDENT"
                    >&darr;</span
                  >
                </ng-container>
              </ng-container>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          data-testid="table-row"
          *ngFor="let dataEntry of displayData$ | async;
          trackBy: dataEntryTracker"
        >
          <td
            *ngFor="let property of dataEntryProperties$ | async"
            data-testid="table-cell"
          >
            {{ dataEntry[property] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer">
    <ng-container
      *ngIf="{
        currentPage: currentPage$ | async,
        totalNumberOfPages: totalNumberOfPages$ | async
      } as nativationValues"
    >
      <div>
        <button
          data-testid="prev-button"
          class="navigation-button"
          [disabled]="nativationValues.currentPage === 1"
          (click)="handlePrevPage()"
        >
          Prev
        </button>
        <span class="footer-page-info">
          <span data-testid="current-page-number" class="current-page">
            {{ nativationValues.currentPage }}
          </span>
          <span> of </span>
          <span data-testid="total-pages-number" class="total-pages-number">{{
            nativationValues.totalNumberOfPages
          }}</span>
        </span>
        <button
          data-testid="next-button"
          class="navigation-button"
          [disabled]="
            nativationValues.currentPage === nativationValues.totalNumberOfPages
          "
          (click)="handleNextPage()"
        >
          Next
        </button>
      </div>

      <input
        data-testid="page-size-input"
        class="items-per-page"
        placeholder="Items per page"
        type="number"
        [formControl]="pageSizeFormControl"
      />
    </ng-container>
  </div>
</div>
